<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-It</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="./vue.js"></script>
</head>
<body>
   <div id="app">
        <h1>ToDo-It</h1>
        <form @submit.prevent="addTodo">
            <input 
              type="text" 
              v-model="title" 
              placeholder="请输入任务" 
              required
            >
            <button type="submit">添加任务</button>
          </form>
        <p v-if ="title == '' ">添加的任务: <strong>暂无</strong></p>
        <p v-else>添加的任务： {{ title }} </p>
        <template v-if="todoList.length === 0">
            {{Loading}}
        </template>
        <template v-else>
            <ul>
                <li v-for="(todo,index) in todoList" :key="index">
                    {{todo}}
                    <button @click="removeTodo(index)">删除</button>
                </li>
            </ul>
        </template>
   </div>
    <script type="module">
        const {
            createApp,// 创建Vue3应用
            ref // 响应式数据
         } = Vue;

        const app = createApp({
            setup(){
                const todoList = ref([]);
                const Loading = "Nothing to do!";
                const title = ref("");

                const addTodo = ()=>{
                    todoList.value.push(title.value);
                    title.value = "";
                } 
                const removeTodo = (index) =>{
                    todoList.value.splice(index,1);
                }
                return{
                    todoList,
                    Loading,
                    title,
                    addTodo,
                    removeTodo
                }  
            }
         })
         app.mount("#app");
    </script>    
</body>
</html>